BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
# ESP-IDF requires FreeRTOS.h before its dependent headers.
SortIncludes: false
